/*
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  color: var(--color-white);
  box-shadow: 0 0 10px 0 var(--color-primary);
  width: 80%;
  text-align: center;
} */

/* Estilos para pantallas de 1980px o menos */
@media (max-width: 1980px){
  .about {
    margin-top: 20px;
    margin-bottom: 90px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
  }
}

/* Estilos para pantallas de 1440px o menos */
@media screen and (max-width: 1440px){
  .about {
    margin-top: 20px;
    margin-bottom: 90px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
  }
  
}

/* Estilos para pantallas de 768px o menos */
@media (max-width: 768px) {
  .about {
    margin-top: 10px;
    margin-bottom: 95px;
    display: flex;
  }

  .about-card {
    width: 100%;
    
  }
}

/*
@media (max-width: 768px) {
  .about {
    height: calc(100vh - 60%);
  }
  .about-card {
    width: 90%;
  }
}

@media (max-width: 512px) {
  .about {
    height: calc(90vh - 55%);
  }
  .about-card {
    width: 90%;
  }
  
}

@media (max-width: 390px) {
  .about {
    height: calc(100vh - 50%);
    margin-bottom: 80px;
  }
  .about-card {
    width: 95%;
  }
}*/