/* Estilos para pantallas de 1980px o menos */
@media (max-width: 1980px){
  .terms {
    margin-top: 20px;
    margin-bottom: 90px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
  }
}

/* Estilos para pantallas de 1440px o menos */
@media screen and (max-width: 1440px){
  .terms {
    margin-top: 20px;
    margin-bottom: 90px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
  }
  
}

/* Estilos para pantallas de 768px o menos */
@media (max-width: 768px) {
  .terms {
    margin-top: 20px;
    margin-bottom: 95px;
    display: flex;
  }

  .terms-card {
    width: 100%;
    margin-left: 1%;
    margin-right: 4%;
  }
}

