.container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: bisque !important;
  padding: 5%;
  width: 100% !important;
  max-width: 1980px !important;
}

h1 {
  color: #ff7700;
  font-size: 2.5 rem;
  margin-bottom: 1rem;
}

p {
  color: #707070;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5rem;
  margin-top: 2% !important;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #ff9800;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: 2% !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #ffa726;
  color: black;
}

.dolarhoy iframe {
  width: 320px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #727070;
  margin: auto;
  margin-top: 30px;
}

/* Responsive styles */

@media screen and (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  input {
    font-size: 1.2rem;
  }

  button {
    font-size: 1.2rem;
  }

  .dolarhoy {
    font-size: 1.2rem;
  }
}
