.navbar {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.navbar .nav-link {
  color: #fff;
  font-size: x-large;
  margin-right: 10rem;
}

.navbar .nav-link:hover {
  color: #000;
  background-color: #ff9800;
}

.navbar-logo {
  height: 50%;
  width: 100%;
  max-width: 60%;
  margin-left: 10%;
}

.navbar-collapse {
  width: 100%;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: row !important;
  }

  .navbar-nav {
    flex-direction: row !important;
    justify-content: flex-start !important;
  }

  .navbar .nav-link {
    margin-right: 5%;
    margin-left: 5%;
  }

  .navbar-brand {
    margin-right: auto !important;
  }
  .navbar-collapse {
    width: 100%;
  }

  .navbar-logo {
    height: 50%;
    width: auto;
    max-width: 40%;
    margin-left: 10%;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column !important;
  }

  .navbar-nav {
    flex-direction: row !important;
    justify-content: flex-start !important;
  }

  .navbar .nav-link {
    margin-left: 5 !important;
    font-size: large;
  }

  .navbar-brand {
    order: 0;
    margin-right: auto !important;
  }
  .navbar-collapse {
    width: 100%;
  }

  .navbar-toggler {
    order: 1;
    position: absolute;
    right: 1rem;
    top: 0;
  }
}

@media (max-width: 512px) {
  .navbar {
    flex-direction: column !important;
  }

  .navbar-brand {
    order: 0;
    margin-right: auto !important;
  }

  .navbar-toggler {
    order: 1;
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .navbar-collapse {
    order: 2;
  }

  .navbar-nav {
    flex-direction: column !important;
    justify-content: flex-start !important;
    width: 100%;
  }

  .navbar .nav-link {
    margin-left: 0% !important;
    font-size: large;
    justify-content: flex-start !important;
    width: 100%;
  }
}
